[project]
	description = A small iPhone project built with the Fastlane CI tool, UI tested and deployed to https://www.bitrise.io/.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elöd Dobos (elodd)
[access "refs/for/refs/*"]
	read = group user/Elöd Dobos (elodd)
	push = group user/Elöd Dobos (elodd)
	label-Code-Review = -2..+2 group user/Elöd Dobos (elodd)
	label-Verified = -1..+1 group user/Elöd Dobos (elodd)
	rebase = group user/Elöd Dobos (elodd)
	removeReviewer = group user/Elöd Dobos (elodd)
	submit = group user/Elöd Dobos (elodd)
[access "refs/heads/*"]
	read = group user/Elöd Dobos (elodd)
	create = group user/Elöd Dobos (elodd)
	push = +force group user/Elöd Dobos (elodd)
	pushMerge = group user/Elöd Dobos (elodd)
[access "refs/tags/*"]
	push = group user/Elöd Dobos (elodd)
	push = +force group user/Elöd Dobos (elodd)
